{% extends 'forum/base.html' %}


{% block jumbotron %}
<div class="message">
    <span>
        {{ category.description }}
    </span>
</div>
{% endblock %}


{% block content %}
    {% if hot_topics %}
        {% for topic in hot_topics %}
            <article>
                <div class="left_part">
                    <div class="vote">
                        <form method="post" style="display: inline"
                            action="{% url 'forum:vote_for_topic' topic.category.name topic.id %}">
                            <input type="hidden" value="upvote" name="type">
                            <input type="hidden" value="category_page" name="referer">
                            <button type="submit">+</button>
                            {% csrf_token %}
                        </form>
                        <form method="post" style="display: inline"
                            action="{% url 'forum:vote_for_topic' topic.category.name topic.id %}">
                            <input type="hidden" value="downvote" name="type">
                            <input type="hidden" value="category_page" name="referer">
                            <button type="submit">-</button>
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
                <div class="right_part">
                    <span class="info">
                        <em class="date">{{ topic.pub_date | date:"F d H:i" }}</em>
                    </span>
                    <p class="title">
                        <a href="{% url 'forum:show_or_comment_topic' topic.category.name topic.id %}">
                            {{ topic.name }}
                        </a>
                    </p>
                    <p class="description">{{ topic.description }}</p>
                </div>
            </article>
            <hr>
        {% endfor %}
    {% else %}
        <p>No topics are available.</p>
    {% endif %}
{% endblock %}


{% block sidebar %}
<aside>
    <a href="{% url 'forum:start_topic' category.name %}"
        style="font-size: 25px; text-decoration: none;"
    >
        Start new topic
    </a>
</aside>
{% endblock %}
