{% extends 'forum/base.html' %}

{% block jumbotron %}
<div class="jumbotron">
    <a class="btn btn-primary btn-lg" style="float: right" href="{% url 'forum:start_topic' %}">Start new topic</a>
    <p>Browse global network here, at Interwebar.</p>
</div>
{% endblock %}

{% block content %}
<div class="col-lg-8">
    {% if latest_topics %}
        {% for topic_row in latest_topics %}
            <div class="row">    
                {% for topic in topic_row %}
                    <div class="col-lg-6">
                        <h4>
                            <a href="{% url 'forum:show_topic' topic.category.name topic.id %}">
                                {{ topic.name }}
                            </a>
                        </h4>
                        {% if topic.image %}
                            <img style="float: left" width="150px" src="{{ topic.image.url }}">
                        {% endif %}
                        <p>{{ topic.description }}</p>
                        <div class="clearfix"></div>
                        {{ topic.upvotes }}
                        <form method="post" style="display: inline" 
                            action="{% url 'forum:vote_for_topic' topic.category.name topic.id %}">
                            <input type="hidden" value="upvote" name="type">
                            <input type="hidden" value="index_page" name="referer">
                            <button type="submit" class="glyphicon glyphicon-chevron-up vote-button"></button>
                            {% csrf_token %}
                        </form>
                        <form method="post" style="display: inline" 
                            action="{% url 'forum:vote_for_topic' topic.category.name topic.id %}">
                            <input type="hidden" value="downvote" name="type">
                            <input type="hidden" value="index_page" name="referer">
                            <button type="submit" class="glyphicon glyphicon-chevron-down vote-button"></button>
                            {% csrf_token %}
                        </form>
                        {{ topic.downvotes }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <p>No topics are available.</p>
    {% endif %}
</div>
<div class="col-lg-4">
    <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. 
        <li>Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</li>
        <li>Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur</li>
        <li>Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. 
        <li>Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</li>
        <li>Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur</li>
        <li>Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
    </ul>
</div>

{% endblock %}
