{% extends 'forum/base.html' %}

{% block jumbotron %}
<div class="jumbotron">
    <a class="btn btn-primary btn-lg" style="float: right; margin-top: -8px;" href="{% url 'forum:start_topic' %}">Start new topic</a>
    <p>Browse global network here, at Pishloq.</p>
</div>
{% endblock %}

{% block content %}
<div class="col-lg-8">
    {% if grouped_hot_topics %}
        {% for topic_row in grouped_hot_topics %}
            <div class="row">
                {% for topic in topic_row %}
                    <div class="col-lg-6">
                        <div class="vote">
                            {{ topic.upvotes }}
                            <form method="post" style="display: inline"
                                action="{% url 'forum:vote_for_topic' topic.category.name topic.id %}">
                                <input type="hidden" value="upvote" name="type">
                                <input type="hidden" value="index_page" name="referer">
                                <button type="submit" class="glyphicon glyphicon-chevron-up vote-button"></button>
                                {% csrf_token %}
                            </form>
                            <form method="post" style="display: inline"
                                action="{% url 'forum:vote_for_topic' topic.category.name topic.id %}">
                                <input type="hidden" value="downvote" name="type">
                                <input type="hidden" value="index_page" name="referer">
                                <button type="submit" class="glyphicon glyphicon-chevron-down vote-button"></button>
                                {% csrf_token %}
                            </form>
                            {{ topic.downvotes }}
                        </div>
                        <h4>
                            <a href="{% url 'forum:show_or_comment_topic' topic.category.name topic.id %}">
                                {{ topic.name }}
                            </a>
                        </h4>

                        {% if topic.image %}
                            <img class="thumb" width="150px" src="{{ topic.image.url }}">
                        {% endif %}
                        <p>{{ topic.description }}</p>
                        <div class="clearfix"></div>
                        <br>
                        <br>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <p>No topics are available.</p>
    {% endif %}
</div>
<div class="col-lg-4">
    {% if controversial_topics %}
        <ul>
            <h4>Controversial</h4>
                {% for topic in controversial_topics %}
                    <li style="list-style-type: none;">
                        <a href="{% url 'forum:show_or_comment_topic' topic.category.name topic.id %}">
                            {{ topic.name }}
                        </a>
                    </li>
                {% endfor %}
        </ul>
    {% endif %}
</div>

{% endblock %}
