{% extends 'forum/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
          <div class="col-lg-10">
            <div class="well bs-component">
              <form class="form-horizontal" action="{% url 'forum:start_topic' %}"
                method="post" enctype="multipart/form-data"
              >
                {% csrf_token %}
                <fieldset>
                  <legend>Start new topic</legend>
                  <div class="form-group">
                    <label class="col-lg-2 control-label" for="topic_name">Name</label>
                    <div class="col-lg-10">
                        {{ add_topic_form.topic_name }}
                      <!-- <input type="text" placeholder="Name" id="topic_name" name="topic_name" class="form-control"> -->
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-2 control-label" for="topic_text">Text</label>
                    <div class="col-lg-10">
                        {{ add_topic_form.topic_text }}
                      <!-- <textarea id="topic_text" name="topic_text" rows="3" class="form-control"></textarea> -->
                      <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-2 control-label" for="topic_description">Description</label>
                    <div class="col-lg-10">
                        {{ add_topic_form.topic_description }}
                      <!-- <textarea id="topic_description" name="topic_description" rows="3" class="form-control"></textarea> -->
                      <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-2 control-label" for="topic_description">Image</label>
                    <div class="col-lg-10">
                        {{ add_topic_form.topic_image }}
                        <!-- <input type="file" name="image"> -->
                    </div>
                  </div>

                <div class="form-group">
                  <label for="select" class="col-lg-2 control-label">Category</label>
                  <div class="col-lg-10">
                    <select class="form-control" id="topic_category" name="topic_category">
                      <option value="">-- --</option>
                        {% for cat in categories %}
                          <option
                            value="{{ cat.name }}"
                            {% if category == cat.name %} selected="selected" {% endif %}
                          >
                            {{ cat.title }}
                        </option>
                        {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                    <label for="select" class="col-lg-2 control-label">Captcha</label>
                    <div class="col-lg-10">
                        {{ add_topic_form.topic_captcha }}
                    </div>
                </div>
                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                  </div>
                </fieldset>
              </form>
            <div class="btn btn-primary btn-xs" id="source-button" style="display: none;">&lt; &gt;</div></div>
          </div>
        </div>

    <b>{{ error_message }}</b>
</div>
<script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script>
<script type="text/javascript">
    //<![CDATA[
    bkLib.onDomLoaded(function() {
        new nicEditor().panelInstance('topic_text');
    });
    //]]>
</script>
{% endblock %}
