{% extends 'forum/base.html' %}

{% block jumbotron %}
<div class="message">
    <span>
        Start new topic
    </span>
</div>
{% endblock %}

{% block content %}
<article>
    <form class="start_topic" action="{% url 'forum:start_topic' %}"
      method="post" enctype="multipart/form-data"
    >
      {% csrf_token %}
        <div class="input_field">
            <label for="">Name:</label>
            {{ add_topic_form.topic_name }}
        </div>
        <hr>
        <div class="input_field">
            <label for="">Text:</label>
            {{ add_topic_form.topic_text }}
        </div>
        <hr>
        <div class="input_field">
            <label for="">Description:</label>
            {{ add_topic_form.topic_description }}
        </div>
        <hr>
        <div class="input_field">
            <label for="">Image:</label>
            {{ add_topic_form.topic_image }}
        </div>
        <hr>
        <div class="input_field">
            <label for="">Category:</label>
            <select class="form-control" id="topic_category" name="topic_category">
              <option value="">-- --</option>
                {% for cat in categories %}
                  <option
                    value="{{ cat.name }}"
                    {% if category == cat.name %} selected="selected" {% endif %}
                  >
                    {{ cat.title }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="input_field">
            <label for="">Captcha:</label>
            {{ add_topic_form.topic_captcha }}
        </div>
        <div class="input_field">
            <button type="submit" name="button">Submit</button>
        </div>
    </form>

    <b>{{ error_message }}</b>
</article>
<script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script>
<script type="text/javascript">
    //<![CDATA[
    bkLib.onDomLoaded(function() {
        new nicEditor().panelInstance('topic_text');
    });
    //]]>
</script>
{% endblock %}
