{% extends 'forum/base.html' %}
{% load forum_add_class %}

{% block jumbotron %}
<div class="message">
    <span>
        {{ topic.name }}
    </span>
</div>
{% endblock %}

{% block content %}
        <!-- <div style="float: right; margin-top: 40px;">
            {{ topic.upvotes }}
            <form method="post" style="display: inline;"
                action="{% url 'forum:vote_for_topic' topic.category.name topic.id %}">
                <input type="hidden" value="upvote" name="type">
                <input type="hidden" value="topic_page" name="referer">
                <button type="submit" class="glyphicon glyphicon-chevron-up vote-button"></button>
                {% csrf_token %}
            </form>
            <form method="post" style="display: inline"
                action="{% url 'forum:vote_for_topic' topic.category.name topic.id %}">
                <input type="hidden" value="downvote" name="type">
                <input type="hidden" value="topic_page" name="referer">
                <button type="submit" class="glyphicon glyphicon-chevron-down vote-button"></button>
                {% csrf_token %}
            </form>
            {{ topic.downvotes }}
        </div> -->
        <span style="margin-left:20px">
            <span class="vote">
                <form method="post" style="display: inline"
                    action="{% url 'forum:vote_for_topic' topic.category.name topic.id %}">
                    <input type="hidden" value="upvote" name="type">
                    <input type="hidden" value="topic_page" name="referer">
                    <button type="submit">+</button>
                    {% csrf_token %}
                </form>
                <form method="post" style="display: inline"
                    action="{% url 'forum:vote_for_topic' topic.category.name topic.id %}">
                    <input type="hidden" value="downvote" name="type">
                    <input type="hidden" value="topic_page" name="referer">
                    <button type="submit">-</button>
                    {% csrf_token %}
                </form>
            </span>
            <em>{{ topic.pub_date | date:"F d H:i" }}</em>
        </span>

        <article>
            <div class="discussion">
                {% if topic.image %}
                    <img class="thumb" width="300px" src="{{ topic.image.url }}" alt="" />
                {% endif %}
                <p class="description">{{ topic.text | safe }}</p>
            </div>
        </article>
        <br>
        <hr>

        {% if comments %}
            {% for comment in comments %}
                <article>
                    <div class="discussion">
                        {% if comment.image %}
                            <img class="thumb" width="300px" src="{{ comment.image.url }}" alt="" />
                        {% endif %}
                        <p>{{ comment.text }}</p>
                    </div>
                </article>
                <hr>
            {% endfor %}
        {% else %}
            <p>No comments are available.</p>
        {% endif %}

<article>
    <div class="discussion">
        <form action="{% url 'forum:show_or_comment_topic' topic.category.name topic.id %}"
            method="post" enctype="multipart/form-data" class="comment_add_form"
        >
            {% csrf_token %}
            {{ add_comment_form.comment_text | add_class:"comment_text" }}
            <div class="comment_image_div">
                <button type="submit" class="comment_submit">Comment</button>
                <label for="image">Image</label>
                {{ add_comment_form.comment_image }}
            </div>
            <div class="comment_captcha_div">
                {{ add_comment_form.comment_captcha | add_class:"comment_captcha_text" }}
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
        {% if error_message %}
        <div class="comment_error_message">
            {{ error_message }}
        </div>
        {% endif %}
    </article>

{% endblock %}
