{% extends 'forum/base.html' %}


{% block content %}
    <div class="col-lg-8">
        <div style="float: right; margin-top: 40px;">
            {{ topic.upvotes }}
            <form method="post" style="display: inline;"
                action="{% url 'forum:vote_for_topic' topic.category.name topic.id %}">
                <input type="hidden" value="upvote" name="type">
                <input type="hidden" value="topic_page" name="referer">
                <button type="submit" class="glyphicon glyphicon-chevron-up vote-button"></button>
                {% csrf_token %}
            </form>
            <form method="post" style="display: inline"
                action="{% url 'forum:vote_for_topic' topic.category.name topic.id %}">
                <input type="hidden" value="downvote" name="type">
                <input type="hidden" value="topic_page" name="referer">
                <button type="submit" class="glyphicon glyphicon-chevron-down vote-button"></button>
                {% csrf_token %}
            </form>
            {{ topic.downvotes }}
        </div>

        <h1>{{ topic.name }}</h1>

        <div class="clearfix"></div>

        <div class="panel panel-default">
            <div class="panel-body">
                {% if topic.image %}
                    <p><img src="{{ topic.image.url }}" width="718px"></p>
                {% endif %}
                <p>{{ topic.text | safe }}</p>
            </div>
        </div>

        <br>
        <h3>Comments</h3>
        {% if comments %}
            {% for comment in comments %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ comment.upvotes }}
                        <form method="post" style="display: inline;"
                            action="{% url 'forum:vote_for_comment' topic.category.name topic.id comment.id %}">
                            <input type="hidden" value="upvote" name="type">
                            <button type="submit" class="glyphicon glyphicon-chevron-up vote-button"></button>
                            {% csrf_token %}
                        </form>
                        <form method="post" style="display: inline"
                            action="{% url 'forum:vote_for_comment' topic.category.name topic.id comment.id %}">
                            <input type="hidden" value="downvote" name="type">
                            <button type="submit" class="glyphicon glyphicon-chevron-down vote-button"></button>
                            {% csrf_token %}
                        </form>
                        {{ comment.downvotes }}

                        <p>{{ comment.text }}</p>
                        {% if comment.image %}
                            <img width="100px" src="{{ comment.image.url }}">
                        {% endif %}
                  </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No comments are available.</p>
        {% endif %}

        <form action="{% url 'forum:show_or_comment_topic' topic.category.name topic.id %}"
            method="post" enctype="multipart/form-data"
        >
            {% csrf_token %}
            <textarea name="comment_text" id="comment_input" style="width: 100%" placeholder="comment text"></textarea>
            <button type="submit" class="btn btn-default" style="float: right">Leave comment</button>
            <label for="image">Image</label>
            <input type="file" name="comment_image" id="image">
            <div class="clearfix"></div>
        </form>

        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}
    </div>

{% endblock %}
